<!DOCTYPE html>
<html>

{{include "share/head"}}

<body>
  <div class="h50"></div>
  <div id="nav">
    <nav class="nav">
      <div class="back"><span class="glyphicon glyphicon-chevron-left"></span></div>
      <div class="title">个人资料</div>
      <div class="user"><span class="glyphicon glyphicon-home fs18"></span>
      </div>
    </nav>
  </div>
  <main>
    <div class="ask-content">
      <form action="/" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" name="photo">
        </div>
        <input type="submit" class="btn btn-success form-control" value="上传头像">
      </form>
    </div>
  </main>
</body>

</html>
